* {
    background-color: rgba(34, 34, 34, 0.911);
}

h1 {
    color: aliceblue;
    background-color: aliceblue;
    text-align: center;
    background-color: rgba(34, 34, 34, 0.911);
}

h2 {
    color: aliceblue;
    background-color: aliceblue;
    text-align: center;
    background-color: rgba(34, 34, 34, 0.911);
}

.col{
    font-size: 20PX;
    color: aliceblue;
}

.col-6{
    color: aliceblue;
}

.col-5 {
    color:aliceblue;
}

.col-4 {
    color: aliceblue;
}

/* 
.btn-custom {
    background-color: #21e42a; 
    border-color: #13e000; 
}

.btn-custom:hover {
    background-color: #33ff3d; 
    border-color: #33ff3d; 
}

  */

p{
    color: aliceblue;
    font-size: 15px;
}

footer {
    background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
            bottom: 0;
            width: 100%;
}

        
.icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

.icons a:hover {
    color: #00ff40ec;
}